@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.Contact{
    padding: 0 10%;
}

.Contact .Title{
    display: flex;
    align-self: start;
    padding-bottom: 5%;
}

.Contact p{
    display: flex;
    align-self: start;
    padding-bottom: 5%;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #535353;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.email h2{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-size: 40px;
}