@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.Slider{
    background-color: #000;
    max-width: 1920px;
}

.Itens{
    display: flex;
    align-items: center;
}

.Itens p{
    padding: 14px 35px;
    color: #fff;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.Sticker{
   width: 27px;
   height: 27px;
}

marquee{
    width: 100%;
}

